<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hola Felipe, como estás?</h1>
            <hr>
            <p>Esto es un pin pan fuera, toma lacasitos.</p>
            <p>:chestnut::deciduous_tree::chestnut::deciduous_tree::chestnut::deciduous_tree::chestnut::deciduous_tree::chestnut::deciduous_tree::chestnut::deciduous_tree:</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
